/Arduino/Bird3Arduino/.theia/launch.json
/Arduino/Bird3Arduino/build/
/Arduino/Bird3Arduino/debug.svd
/Arduino/Bird3Arduino/debug.cfg
/Arduino/libraries
/BirdCAN/.vs/
/BirdCAN/BirdCAN/bin/
/BirdCAN/BirdCAN/obj/
/Dumps/
/PCB/Bird3Controller*/Bird3Controller-backups/
/PCB/Bird3Controller*/Bird3Controller.kicad_sch.*.bak
/PCB/Bird3Controller*/Bird3Controller.csv
/PCB/Bird3Controller*/plots/
/PCB/Bird3Controller*/#auto_saved_files#
/PCB/Bird3Controller*/*.png
/PCB/**/*.bak
/PCB/**/Bird3Controller.xml
/PCB/Components/
/PCB/LIB_LM5012DDAR
/PCB/LIB_LM5012DDAR.zip
/Firmware/
*.kicad_sch-bak
**/*-backups/
*.lck
#auto_saved_files#
fp-info-cache
/cangaroo_workspace.cangaroo
