/BirdCAN/.vs/
/BirdCAN/BirdCAN/bin/
/BirdCAN/BirdCAN/obj/
/Arduino/Bird3Arduino/.theia/launch.json
/PCB/Bird3Controller/Bird3Controller-backups/
/PCB/Bird3Controller/Bird3Controller.kicad_sch.*.bak
*.kicad_sch-bak
**/*-backups/
/Arduino/Bird3Arduino/build/
/Arduino/Bird3Arduino/debug.svd
/Arduino/Bird3Arduino/debug.cfg
/Arduino/libraries
/Dumps/
/PCB/Bird3Controller.ToSend/
/PCB/Bird3Controller.zip
*.lck
/PCB/Bird3Controller/Bird3Controller.csv
/PCB/Bird3Controller/plots/
/PCB/Components/
#auto_saved_files#
/PCB/Bird3Controller/#auto_saved_files#
/PCB/Bird3Controller/*.png
/Firmware/
/PCB/LIB_LM5012DDAR
/PCB/LIB_LM5012DDAR.zip
/PCB/**/*.bak
fp-info-cache
